<div class="container" fxLayout="column" fxLayoutAlign="center center">

  <div fxFlex fxFlexAlign="center">
    <div fxLayout="column" fxLayoutAlign="start">
      <div fxFlex>
        <span>Use custom FireBase Link</span>
        <mat-slide-toggle (click)="toggle()" color="primary" [(ngModel)]="checked"></mat-slide-toggle>
      </div>
      <div *ngIf="detail" class="detail" fxFlex>
        <input type="text" [(ngModel)]="fbUrl" >
        <button color="primary" mat-raised-button (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
